.table {
  margin-top: 20px;
  overflow: scroll;
  width: 90%;
  font-size: 0.8rem;
}
.table::-webkit-scrollbar {
  display: none;
}
.table tr:nth-of-type(even) {
  background-color: lighten(black, 90%);
}
th {
  border-bottom: 1px solid lighten(black, 90%);
}
td {
  width: 25%;
  text-align: center;
  color: black;
}
